<div class="page-header" >
  <h3>Мероприятия:</h3>
    <ul ng-if="auth" ng-repeat="event in events.events track by $index">
        <li ng-if="event.name"><a ng-href="#/events/{{event.id}}">{{event.name}}</a></li>
        <li ng-if="event.description">{{event.description}}</li>
        <li ng-if="event.date">{{event.date}}</li>
        <li ng-if="event.created_at">создан: {{event.created_at | date:'dd-MM-yyyy'}}</li>
        <li>{{event.id}}</li>
        <div ng-show="event.guests.length">
            <h4>Guests:</h4>
            <ul ng-repeat="guest in event.guests">
                <li>{{guest.name}} {{guest.surname}}</li>
            </ul>
        </div>

        <a ng-if="event.name" href="#" ng-click='deleteEvent(event.id)'>Delete Event!</a>
    </ul>

    <h3><a href="#/new-event">Создать мероприятие</a></h3>
</div>

