

<h4>{{title}}</h4>
<div ng-if="flash" class="alert alert-success" role="alert">{{flash}}</div>


<uib-tabset>
    <uib-tab index="0">
        <uib-tab-heading class="create-heading">Информация о событии&nbsp;&nbsp;
            <i class="fa fa-info-circle" aria-hidden="true"></i></uib-tab-heading>
        <div class="row">
            <div class="col-md-12">

                <img ng-if="edit" ng-src="{{file}}">


                <div class="form-group">

                </div>

                <br />

                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Название"
                           ng-model="eve.name"></input>
                </div>
                <div class="form-group">

                    <input class="form-control" date-time ng-model="eve.date"
                           id="pickerMinSelector"
                           date-change="changeMinMax"
                           max-date="maxDate" view="date"
                           timezone="UTC"
                           format="lll"
                    >
                </div>


                <div class="btn btn-info" ngf-select ng-model="eve.file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                >Выбрать фото&nbsp;<i class="fa fa-picture-o" aria-hidden="true"></i></div>
                <a ng-click="deletePhoto()"><i class="fa fa-trash-o" aria-hidden="true""></i>Удалить фото</a>
                <div class="clearfix"></div>
                <img ngf-src="eve.file" ngf-resize="{width: 200, quality: 0.9}">
                <div class="clearfix"></div>
                <br>
                <div class="form-group">
        <textarea type="text"
                  class="form-control"
                  placeholder="Description"
                  ng-model="eve.description"></textarea>
                </div>



            </div>

        </div>
    </uib-tab>
    <uib-tab index="1" select="loadRefreshSpecials()">
        <uib-tab-heading class="create-heading">Постоянные гости&nbsp;&nbsp;
            <i class="fa fa-user" aria-hidden="true"></i></uib-tab-heading>
        <div class="row">
            <div class="col-md-12">
                <h4>Постоянные гости:</h4>
                <ui-select multiple on-remove="deleteVisit($item)" on-select="addVisit($item)" ng-model="eve.specials.selected" close-on-select="false"
                           style="width: 600px;" title="Choose a person">
                    <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.surname}}&gt;</ui-select-match>
                    <ui-select-choices repeat="item in eve.specials track by $index"
                                       refresh="refreshAccaunts($select.search)"
                                       refresh-delay="0">
                        <div ng-bind-html="person.name"></div>
                        <small>
                            name: {{item.name}}
                            surname: {{item.surname}}
                        </small>
                    </ui-select-choices>
                </ui-select>



                <br>
                <a href="" ng-click="selectAll()">Выбрать всех</a>
                <a href="" ng-click="resetAll()">Удалить всех</a>
                <h4>Постоянные гости:</h4>
                <p ng-repeat="special in eve.specials.selected">

                    {{special.name}} {{special.surname}}</p>
            </div>
        </div>







    </uib-tab>
    <uib-tab index="2">
        <uib-tab-heading class="create-heading">Гости по спискам&nbsp;&nbsp;
            <i class="fa fa-users" aria-hidden="true"></i></uib-tab-heading>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Name"
                           name="guest-name"
                           ng-model="eve.guest.name"></input>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Surname"
                           name="guest-surname"
                           ng-model="eve.guest.surname" ng-keypress="AddOnEnter($event)"></input>
                </div>
            </div>
            <div class="col-md-2">
                <span class="label label-default">Возраст:</span>
                <select ng-model="eve.guest.age" ng-keypress="AddOnEnter($event)">
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                </select>
            </div>
            <div class="col-md-2">
                <button ng-click="addGuest()" class="btn btn-primary">+</button>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Добавленные гости:</h4>
            <div ng-repeat="guest in eve.guests track by $index" class="creating guest">
                <p ng-if="guest">
                    <i class="fa fa-user-plus"
                       uib-popover-template="dynamicPopover.templateUrl"
                       popover-title="{{dynamicPopover.title}}"
                       type="button"
                       ng-click="addInfoGuest($index)"
                       aria-hidden="true"></i>
                    {{guest.name}} {{guest.surname}}

                    <i class="fa fa-trash-o" aria-hidden="true" ng-click="deleteGuest($index)"></i>

                </p>
            </div>
        </div>
        </div>
    </div>

    </uib-tab>
    <uib-tab select="loadRefreshArtists()" index="3">
        <uib-tab-heading class="create-heading">Артисты<i class="fa fa-music" aria-hidden="true"></i></uib-tab-heading>
        <div class="row">
            <div class="col-md-12">

                    <h4>Артисты:</h4>

                <ui-select multiple on-remove="deleteShow($item)" on-select="addShow($item)" ng-model="eve.artists.selected" close-on-select="false"
                           style="width: 600px;" title="Choose an artist">
                    <ui-select-match placeholder="Select artist...">{{$item.name}} {{item.description}}</ui-select-match>
                    <ui-select-choices repeat="artist in eve.artists track by $index"
                                       refresh="refreshArtists($select.search)"
                                       refresh-delay="0">
                        <div ng-bind-html="artist.name"></div>
                        <small>
                            name: {{artist.name}}
                            description : {{artist.description}}
                        </small>
                    </ui-select-choices>
                </ui-select>

                    <br>
                    <a href="" ng-click="selectAllArtists()">Выбрать всех</a>
                    <a href="" ng-click="resetAllArtists()">Удалить всех</a>
                    <h4>Артисты:</h4>
                <div class="row">
                    <div ng-repeat="artist in eve.artists.selected" class="col-md-3">
                        {{artist.name}}<br>
                        <img ng-src="{{artist.photo}}" ng-click="showScope()" class="img-thumbnail">
                        <label for="time-start">Время начала</label>
                        <input type="text"
                               class="form-control"
                                name="time-start"
                               id="time-start"
                               ng-model="artist.time_start" ui-mask="29:59" ui-options="maskOptions"></input>
                        <label for="time-end">Время конца</label>
                        <input type="text"
                               name="time-end"
                               id="time-end"
                               class="form-control"
                               ng-model="artist.time_end" ui-mask="29:59" ui-options="maskOptions"></input>
                    </div>
                </div>

            </div>
        </div>
    </uib-tab>
</uib-tabset>

<div class="clearfix"></div>
<hr>
<button class="btn btn-primary" ng-click="addEvent()">{{action}}</button>


<div class="clearfix"></div>
