<div class="row-fluid">
    <div class="col-md-12">
        <h1>New Event</h1>
        <div ng-if="flash" class="alert alert-success" role="alert">{{flash}}</div>
        <form ng-submit="addEvent()"
              style="margin-top:30px;">
            <div class="form-group">

            </div>


            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Title"
                       ng-model="name"></input>
            </div>
            <div class="form-group">

                <input class="form-control" date-time ng-model="dates.today"
                                           id="pickerMinSelector"
                                           date-change="changeMinMax"
                                           max-date="maxDate" view="date"
                                           timezone="UTC"
                                           format="lll"
                >
            </div>

            <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                 >Select</div>


            <div class="form-group">
        <textarea type="text"
                  class="form-control"
                  placeholder="Description"
                  ng-model="description"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Добавить</button>

        </form>
    </div>
</div>
<div class="clearfix"></div>
<br><br>
<div class="row-fluid">
    <div class="col-md-4">
        <div class="form-group">
         <input type="text"
               class="form-control"
               placeholder="Name"
               ng-model="guest.name"></input>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text"
               class="form-control"
               placeholder="Surname"
               ng-model="guest.surname"></input>
        </div>
    </div>
    <div class="col-md-2">
        <button ng-click="addGuest()">+</button>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-12">
        <h4>Добавленные гости:</h4>
        <ul ng-repeat="guest in guests track by $index">
            <li>{{guest.name}} {{guest.surname}}</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>

