

<div class="alert alert-warning" ng-if="eve.event.flash">
    <strong>Warning!</strong> {{eve.event.flash}}
</div>

<div class="row" ng-if="eve.event.id">
    <h4>{{eve.event.name}}</h4>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <p>{{eve.event.description}}</p>
                <img ng-src="{{eve.event.file}}">
            </div>
            <div class="col-md-6">
                <h4>Лайнап:</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>
                                Артист
                            </td>
                            <td>
                                Время начала выступления
                            </td>
                            <td>
                                Время конца выступления
                            </td>
                        </tr>
                    </thead>
                    <tr ng-repeat="show in eve.event.shows">
                        <td>
                            {{show.artist_name}}
                        </td>
                        <td>
                            {{show.time_start | addComma}}
                        </td>
                        <td>
                            {{show.time_end | addComma}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

<div class="clearfix"></div>
        <hr>
        <h4>Гости по списку:</h4>
        <div class="">

            <!--<div class="alert alert-info">
                <p>Sort Type: {{ sortType }}</p>
                <p>Sort Reverse: {{ sortReverse }}</p>
                <p>Search Query: {{ searchFish }}</p>
            </div>-->

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchSurname">
                    </div>
                </div>
            </form>

            <table class="table table-bordered table-striped show-event-guests">

                <thead>
                <tr>
                    <td><i class="fa fa-user-secret" aria-hidden="true"></i></td>
                    <td>
                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'surname'; sortReverse = !sortReverse">
                            Surname
                            <span ng-show="sortType == 'surname' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'surname' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'bio'; sortReverse = !sortReverse">
                            Biography
                            <span ng-show="sortType == 'bio' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'bio' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">
                            Age
                            <span ng-show="sortType == 'age' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'age' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'inside'; sortReverse = !sortReverse">
                            Inside-Outside
                            <span ng-show="sortType == 'inside' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'inside' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="guest in eve.event.guests | orderBy:sortType:sortReverse | filter:searchSurname">
                    <td></td>
                    <td>{{ guest.name }}</td>
                    <td>{{ guest.surname }}</td>
                    <td>{{ guest.bio }}</td>
                    <td>{{ guest.age }}</td>
                    <td><a ng-click="changeStatus(guest.id, guest.inside)">
                <span ng-if="guest.inside == true">

                    <i class="fa fa-sign-in" aria-hidden="true"
                       uib-popover="{{inside}}"
                       popover-trigger="'mouseenter'"
                       popover-placement="right"></i>
                </span>
                        <span ng-if="guest.inside == false">
                            <i class="fa fa-sign-out fa-flip-horizontal" aria-hidden="true"
                               uib-popover="{{outside}}"
                               popover-trigger="'mouseenter'"
                               popover-placement="right"></i>

                </span>
                    </a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="clearfix"></div>
        <hr>
        <h4>Постоянные гости:</h4>
        <div class="row">
            <div class="col-md-3" ng-repeat="guest in eve.event.special_guests">
                <img ng-src="{{guest.file}}">
                <p>{{guest.name}}</p>
                <p>{{guest.surname}}</p>
                <a ng-click="changeStatus(guest.id, guest.inside, guest.guest_type)">
                        <span ng-if="guest.inside == true">

                            <i class="fa fa-sign-in" aria-hidden="true"
                               uib-popover="{{inside}}"
                               popover-trigger="'mouseenter'"
                               popover-placement="right"></i>
                        </span>
                        <span ng-if="guest.inside == false">
                                    <i class="fa fa-sign-out fa-flip-horizontal" aria-hidden="true"
                                       uib-popover="{{outside}}"
                                       popover-trigger="'mouseenter'"
                                       popover-placement="right"></i>

                        </span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>