/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require angular-datepicker/dist/angular-datepicker
 *= require angular-toastr/dist/angular-toastr
 *= require font-awesome
 *= require fullcalendar
 *= require angular-ui-select
 *= require_tree .
 *= require_self
 */


a[ng-click]{
    cursor: pointer;
}
.creating.guest i {
    font-size: 15px;
    cursor: pointer;
}
.show-event-guests i {
    cursor: pointer;
}
.events-content .label a {
    color: #fff;
    text-decoration: none;
}
.create-heading {
    font-size: 13px;
}
ul.nav.navbar-nav li {
    float: none;
}
#main-template div.row.ng-scope {
    margin-top: 10px;
}
.toast a {
    text-decoration: underline;
    color: #00b3ee;
}
uib-tab-heading {
    width: 100%;
    display: block;
}
.full-height input[type="submit"] {
    border:1px solid #15aeec;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-decoration:none;
    display:inline-block;
    font-weight:bold;
    color: #FFFFFF;
    background-color: #49c0f0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
    background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
    text-transform: uppercase;
    padding: 15px 25px;
}
.full-height input[type="submit"]:hover, .demo-page input[type="submit"]:active {
    border:1px solid #1090c3;
    background-color: #1ab0ec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
    background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}
.demo-page h1 {
    color: #32b2e6;
    font-weight: bold;
}
.full-height .demo-page .input-group input {
    border: 1px solid #2886d8;
    border-radius: 20px;
    color: #2886d8;
}
.full-height .demo-page .input-group input[type="search"] {
    border: 0;
}
.full-height {
    height: 100%;
}
.artist-edit textarea, .artist-edit img {
    margin: 10px 0;
}
.special textarea, .special img {
    margin: 10px 0;
}
.full-height .demo-page div[name="file"] {
    margin-bottom: 6px;
}
.row.full {
    margin: 0;
    /*background: url("https://media.giphy.com/media/PvKlwYTiKATRe/giphy.gif") no-repeat;*/
    background-size: 100%;
    height: 100%;
    text-align: center;
}
.page-header {
    padding-bottom: 9.5px;
    margin: 42px 0 21px;
    border-bottom: 2px solid #32b2e6;
}
.row.full input, .row.full .input-group {
    display: inline-block;
}
.demo-page .ui-select-match span.ui-select-toggle {
    background: #fff;
    border: 1px solid #2886d8;
    border-radius: 20px;
    color: #2886d8;
}
#main-template a:hover {
    text-decoration: none;
}
.demo-page span.ui-select-toggle, .demo-page .input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
    border-radius: 20px;
}
@media (min-width: 768px) {
    ul.nav.navbar-nav li {
        float: none;
    }
}