/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require angular-datepicker/dist/angular-datepicker
 *= require angular-toastr/dist/angular-toastr
 *= require font-awesome
 *= require fullcalendar
 *= require angular-ui-select
 *= require_tree .
 *= require_self
 */


a[ng-click]{
    cursor: pointer;
}
.creating.guest i {
    font-size: 15px;
    cursor: pointer;
}
.show-event-guests i {
    cursor: pointer;
}
.events-content .label a {
    color: #fff;
    text-decoration: none;
}
.create-heading {
    font-size: 13px;
}
ul.nav.navbar-nav li {
    float: none;
}
#main-template div.row.ng-scope {
    margin-top: 10px;
}
.toast a {
    text-decoration: underline;
    color: #00b3ee;
}
uib-tab-heading {
    width: 100%;
    display: block;
}
.full-height input[type="submit"] {
    background: #0773d0;
    color: #fff;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #2987d9;
    background: #0773d0;
    background: -moz-linear-gradient(top, #0773d0 0%, #2b88d9 50%, #076fb5 100%);
    background: -webkit-linear-gradient(top, #0773d0 0%,#2b88d9 50%,#076fb5 100%);
    background: linear-gradient(to bottom, #0773d0 0%,#2b88d9 50%,#076fb5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0773d0', endColorstr='#076fb5',GradientType=0 )
}
.full-height input[type="submit"]:hover, .demo-page input[type="submit"]:active {
    background: #076fb5; /* Old browsers */
    background: -moz-linear-gradient(top, #076fb5 0%, #2b88d9 50%, #0773d0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #076fb5 0%,#2b88d9 50%,#0773d0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #076fb5 0%,#2b88d9 50%,#0773d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#076fb5', endColorstr='#0773d0',GradientType=0 ); /* IE6-9 */
    color: #fff;
}
.demo-page h1 {
    color: #157bd3;
    font-weight: bold;
}
.full-height .demo-page .input-group input {
    border: 1px solid #2886d8;
    border-radius: 20px;
    color: #2886d8;
}
.full-height {
    height: 100%;
}
.row.full {
    margin: 0;
    /*background: url("https://media.giphy.com/media/PvKlwYTiKATRe/giphy.gif") no-repeat;*/
    background-size: 100%;
    height: 100%;
    text-align: center;
}
.page-header {
    padding-bottom: 9.5px;
    margin: 42px 0 21px;
    border-bottom: 2px solid #2886d8;
}
.row.full input, .row.full .input-group {
    display: inline-block;
}
@media (min-width: 768px) {
    ul.nav.navbar-nav li {
        float: none;
    }
}