/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require angular-datepicker/dist/angular-datepicker
 *= require font-awesome
 *= require fullcalendar
 *= require angular-ui-select
 *= require_tree .
 *= require_self
 */


a[ng-click]{
    cursor: pointer;
}
.creating.guest i {
    font-size: 15px;
    cursor: pointer;
}
.show-event-guests i {
    cursor: pointer;
}
.events-content .label a {
    color: #fff;
    text-decoration: none;
}
.create-heading {
    font-size: 13px;
}
ul.nav.navbar-nav li {
    float: none;
}
#main-template div.row.ng-scope {
    margin-top: 10px;
}
@media (min-width: 768px) {
    ul.nav.navbar-nav li {
        float: none;
    }
}